
*{
  font-family: 'Lato';
  letter-spacing: 0.02em;
}

button{
  outline: none !important;
}

.ui-header-buttons{
  padding-top: 3px;
  padding-right: 2px;
}

.ui-window{
  width: 100%;
  height: 100%;
}

.ui-header{
  background: #fff;
  border-bottom: 1px solid #f4f5f5;
  height: auto;
}

.ui-header-top{
  float: left;
  width: 100%;
  height: 50px;
}

.ui-header-brand{
  padding: 14px 23px;
}

.ui-header-brand figure{
  float: left;
}

.ui-header-brand figure i{
  float: left;
  width: 18px;
  height: 23px;
  background-image: url('@static/sprite.png');
  background-size: 109px 23px;
  background-position: 0 0;
}

.ui-header-brand span{
  float: left;
  margin-left: 14px;
  margin-top: 3px;
  font-size: 21px;
  color: #252525;
  font-weight: 900;
}

.ui-header-bottom{
  float: left;
  width: 100%;
  height: 50px;
}

.ui-content {
  background-color: #fafafb;
}

.app-content{
  float: left;
  width: 100%;
  height: ~'calc(100% - 41px)';
}

.bookmark-tabs{
  float: left;
  margin-left: 16px;
}

.bookmark-tabs section{
  float: left;
  padding: 0 20px;
}

.bookmark-tabs article{
  padding: 15px 0 16px;
  border-bottom: 2px solid transparent;
  font-size: 17px;
  font-weight: bold;
  color: #717171;
}

.bookmark-tabs:hover article{
  color: #252525;
}

.bookmark-tabs .selected article{
  border-bottom: 2px solid #0071f6;
  color: #252525;
}

.bookmark-finder{
  float: right;
  width: 270px;
  height: 36px;
  margin-right: 12px;
  margin-top: 3px;
  margin-bottom: 7px;
  padding: 0;
  border-radius: 6px;
  background-color: #f0f0f0;
  border: 2px solid transparent;
}

.bookmark-finder.active{
  border: 2px solid #0071f6;
}

.bookmark-finder figure.lens{
  float: left;
  width: 16px;
  height: 16px;
  margin: 10px 10px 10px 14px;
}

.bookmark-finder figure.lens i{
  float: left;
  width: 16px;
  height: 16px;
  background-image: url('@static/sprite.png');
  background-position: -54px -6px;
  background-size: 109px 23px;
}

.bookmark-finder input{
  float: left;
  width: 196px;
  height: 100%;
  background: none;
  font-size: 15px;
  font-weight: bold;
  color: #a4a4ab;
}

.active.bookmark-finder input{
  box-shadow: none;
}

.bookmark-finder figure.remove{
  float: right;
  width: 14px;
  height: 14px;
  margin: 11px 10px;
  opacity: 0.7;
}

.bookmark-finder figure.remove:hover{
  opacity: 1;
}

.bookmark-finder figure.remove i {
  float: left;
  width: 14px;
  height: 14px;
  background-image: url('@static/sprite.png');
  background-position: -95px -8px;
  background-size: 109px 23px;
}

.ui-elements{
  float: left;
  width: 100%;
  height: ~'calc(100% - 75px)';
  padding-top: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
}

.bookmark-card{
  float: left;
  width: 130px;
  height: 171px;
  padding: 7px 6px 6px 6px;
  margin: 7px 7px 10px;
  border-radius: 6px;
  background-color: #FFF;
  box-shadow: 0 1px 3px rgba(0,1,1,.1), inset 0 1px rgba(255,255,255,.1);
}

.ui-elements.only-installed .bookmark-card{
  display: none;
}

.ui-elements.only-installed .bookmark-card.installed{
  display: block;
}

.bookmark-card:last-of-type{
  margin-bottom: 25px;
}

.bookmark-logo{
  float: left;
  width: 100%;
  height: 90px;
  border-radius: 6px;
  background-size: 130px 90px;
}

.bookmark-name{
  float: left;
  width: 100%;
  height: 29px;
  margin: 10px 0;
  font-size: 15px;
  font-weight: bold;
  color: #000;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bookmark-button{
  float: left;
  width: 100%;
  height: 32px;
  border-radius: 6px;
  background-color: #0071f6;
  font-size: 13px;
  font-weight: bold;
  color: #fff;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.bookmark-button span{
  cursor: pointer;
}

.bookmark-button-uninstall{
  background-color: #f0f0f0;
  color: #717171;
  position: relative;
  display: none;
}

.bookmark-button-install:hover{
  background-color: #006ae7;
}

.bookmark-button-install:active{
  background-color: #0067e0;
}

.bookmark-card.installed .bookmark-button-uninstall{
  display: block;
}

.bookmark-card.installed .bookmark-button-install{
  display: none;
}

.bookmark-card.installed i{
  width: 13px;
  height: 10px;
  display: inline-block;
  background-image: url('@static/sprite.png');
  background-position: -70px -12px;
  background-size: 109px 23px;
  position: absolute;
  left: 20px;
  margin-top: 1px;
  cursor: pointer;
}

.bookmark-card.installed .bookmark-button-uninstall .delete{
  display: none;
}

.bookmark-card.installed:hover .bookmark-button-uninstall .added{
  display: none;
}

.bookmark-card.installed:hover .bookmark-button-uninstall .delete{
  display: block;
}

.bookmark-card.installed:hover i{
  width: 12px;
  background-image: url('@static/sprite.png');
  background-position: -83px -12px;
  background-size: 109px 23px;
}

input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: #889399 !important;
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  opacity:  1;
  color: #889399 !important;
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
  opacity:  1;
  color: #889399 !important;
}
input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #889399 !important;
}
